<% layout("/layouts/boilerplate") %>

<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h2>Edit Listing: </h2>

            <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" value="<%= listing.title %>" name="listing[title]" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div> 
        
                <div class="mb-3"> 
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please enter valid description</div>
                </div>
                
        
               <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" value="<%= listing.image %>" name="listing[image]" class="form-control" required>
                    <div class="invalid-feedback">Please enter a image url</div>
                </div>
        
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" value="<%= listing.price %>" name="listing[price]" class="form-control" required>
                        <div class="invalid-feedback">Please enter valid price</div>
                    </div>
            
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" value="<%= listing.country %>" name="listing[country]" class="form-control" required>
                        <div class="invalid-feedback">Please enter valid country</div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" value="<%= listing.location %>" name="listing[location]" class="form-control" required>
                    <div class="invalid-feedback">Please Enter valid location</div>
                </div>
        
                <button class="btn btn-dark mt-3 btn-edit">Edit</button>
            </form>
        </div>
    </div>
</body>

